.post {
  width: 800px;
  margin: 0 auto;
  column-count: 2;
  column-rule: 1px solid black;
  column-gap: 40px;

  &__title {
    margin-bottom: 36px;
    column-span: all;
  }

  & > p {
    margin-bottom: 36px;
  }

  & > ul p {
    margin: 36px 0;
  }

  ul ul {
    margin-left: 20px;
  }
}
